## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [17]:
# Your code here
import random

sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

[89, 59, 44, 99, 8, 56, 98, 51, 71, 90, 40, 25, 11, 4, 13, 60, 24, 46, 92, 78, 82, 39, 36, 31, 85, 63, 19, 48, 2, 95, 72, 12, 42, 0, 84, 5, 10, 50, 88, 45, 33, 76, 91, 54, 32, 74, 7, 37, 15, 67, 97, 35, 73, 81, 64, 14, 100, 87, 70, 69, 23, 86, 96, 77, 26, 43, 21, 41, 57, 94, 61, 18, 27, 6, 68, 20, 17, 49, 28, 47]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [19]:
# Your code here
import random
sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)

print(len(sample_list_2))

[25, 84, 7, 26, 58, 0, 29, 93, 35, 36, 94, 93, 73, 45, 97, 91, 54, 69, 98, 40, 62, 64, 73, 64, 3, 28, 42, 93, 28, 7, 63, 81, 42, 61, 90, 5, 85, 0, 42, 36, 43, 15, 46, 27, 83, 0, 23, 24, 38, 29, 84, 19, 94, 24, 100, 57, 42, 8, 92, 97, 65, 30, 86, 32, 74, 92, 31, 22, 10, 99, 2, 59, 10, 92, 81, 89, 36, 13, 33, 43]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

#lenght is not 80 anymore, because the duplicates have been removed.

{0, 2, 3, 5, 7, 8, 10, 13, 15, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 40, 42, 43, 45, 46, 54, 57, 58, 59, 61, 62, 63, 64, 65, 69, 73, 74, 81, 83, 84, 85, 86, 89, 90, 91, 92, 93, 94, 97, 98, 99, 100}
57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [61]:
# Your code here
set3 = set([i for i in set1 if i not in set2])

print(set3)

{4, 6, 11, 12, 14, 17, 18, 20, 21, 37, 39, 41, 44, 47, 48, 49, 50, 51, 56, 60, 67, 68, 70, 71, 72, 76, 77, 78, 82, 87, 88, 95, 96}

In [67]:
#Other solution would be (given by TA)
set32 = set1 - set2
set32==set3

True

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [53]:
# Your code here
set4 = set([i for i in set2 if i not in set1])
print(set4)

{65, 3, 38, 83, 93, 22, 62, 58, 29, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [54]:
# Your code here
set5 = set([i for i in set1 if i in set2])
print(set5)

{0, 2, 5, 7, 8, 10, 13, 15, 19, 23, 24, 25, 26, 27, 28, 31, 32, 33, 35, 36, 40, 42, 43, 45, 46, 54, 57, 59, 61, 63, 64, 69, 73, 74, 81, 84, 85, 86, 89, 90, 91, 92, 94, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [62]:
# Your code here

print(len(set1))
print(len(set2))
#Present in set1 not in set2
print(len(set3))
#Present in set2 not in set1
print(len(set4))
#Present in both
print(len(set5))

print(len(set1)== (len(set3)) + (len(set5)))
print(len(set2)== (len(set4)) + (len(set5)))

80
57
33
10
47
True
True

#### Create an empty set called `set6`.

In [57]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [58]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 56, 57, 59, 60, 61, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [59]:
# Your code here
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [65]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [69]:
# Your code here

set66 = set3.union(set4, set5)
print(set66)

set67 = set66.union(set1, set2)
print(set67)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [71]:
# Your code here
print(set1.pop())

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [78]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 23, 24, 25, 26, 27, 28, 32, 33, 35, 36, 37, 40, 42, 43, 44, 45, 46, 47, 48, 50, 54, 56, 57, 60, 63, 64, 67, 68, 70, 72, 73, 74, 76, 77, 78, 82, 84, 85, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98, 100}